@import "fonts/fonts";

$light-blue: #4a5878;
$dark: #212529;
$light: #ffffff;
@mixin border-bottom {
  border-bottom: 1px solid #444444;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

#drop-area {
  &:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:has(canvas) {

  }

  &.highlight {
    background-color: rgba(0, 0, 0, 0.2);
  }

  canvas {
    background-color: #E5E5E5;
  }
}

#navbar {
  @include border-bottom;
}

#navbar {
  svg {
    width: 30px;
    height: 24px;
  }
}

#layers, #controller {
  svg {
    width: 15px;
    height: auto;
  }
}

#layers {
  .layer {
    display: flex;
    cursor: pointer;
    padding: 4px 10px;
    transition: 0.2s ease-in-out;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 1px solid var(--bs-primary);
    }

    > span {
      margin-left: 8px;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 70%;

      &.editing {
        input {
          background-color: $dark;
          color: $light;
        }
      }
    }

    .tools {
      span:first-child {
        margin-right: 4px;
      }

      span.unlocked {
        svg.lock-close {
          display: none;
        }
      }

      span.locked {
        svg.lock-open {
          display: none;
        }
      }

      span.visibility {
        svg.eye-close {
          display: none;
        }
      }

      span.hidden {
        svg.eye-open {
          display: none;
        }
      }
    }

    &.active {
      background-color: $light-blue;
      border-color: transparent;
    }
  }
}

#canvas-container {
  overflow: scroll;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  #layers, #controller, #navbar {
    color: $light;
    background-color: $dark;
  }
}

@media (prefers-color-scheme: light) {
  #navbar {
    color: $light;
    background-color: $light;
  }
  #layers, #controller {
    color: $dark;
    background-color: $light;
  }
}